@import 'menu/mobile/toggle/toggle';
@import 'menu/mobile/slide/menu-slide';
@import 'menu/desktop/desktop';

// Site Header
/************************************/
.site-header {
  &-top {
    display: none;
    @media (min-width: 1180px) {
      display: block;
    }
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 1400px;
    }
    .desktop-menu {
      padding: 10px;
    }
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    @media (min-width: $lg) {
      margin: auto;
    }
  }
  &-branding {
    @media (min-width: $lg) {
      width: 20%;
      display: flex;
      align-items: center;
    }
    &-logo {
      width: 180px;
      padding: 0 20px;
      position: relative;
      z-index: 9;
      display: block;
      margin: 10px 0;
    }
  }
}

.after-header {
  background: var(--primary);
  .desktop-menu {
    max-width: 1400px;
    margin: auto;
    padding-left: 0;
    &-list {
      justify-content: space-between;
    }
  }
}
